[submodule "open-source-project/kimi-cli"]
	path = open-source-project/kimi-cli
	url = https://github.com/MoonshotAI/kimi-cli
[submodule "open-source-project/LightRAG"]
	path = open-source-project/LightRAG
	url = https://github.com/HKUDS/LightRAG
[submodule "open-source-project/codex"]
	path = open-source-project/codex
	url = https://github.com/openai/codex
[submodule "open-source-project/openclaw"]
	path = open-source-project/openclaw
	url = git@github.com:openclaw/openclaw.git
